<!-- create an html header with a icon/log retaurant named Foodie Delight icon and menu item like home and admin-->
<header>
  <div class="container">
    <div class="logo">
      <img src="logo-search-grid-1x.png" alt="Foodie Delight Logo">
    </div>
    <nav>
      <ul>
         <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
         <li><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a></li>

      </ul>
    </nav>
  </div>
</header>